.brand-logo {
  margin-left: 0.5em;
}

.Landing {
  text-align: center;
}

.Landing h3 {
  margin-top: 1em;
}

.Header .logo {
  display:block;
  background-image: url(panda.svg);
  height: 50px;
  width: 50px;
  margin: 0.5em 1em 0 1em;
}

.Header .credits {
  margin: 0 10px;
}

.SurveyForm button, .SurveyFormReview button {
  margin: 1em 1em 1em 0;
}

.SurveyField .error-message {
  margin-bottom: 1.5em;
}

.SurveyField input {
  margin-bottom: 0.5em;
}

.SurveyFormReview .input-value {
  margin: 1em 0;
}